*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    color: #000814;
    padding: 1.5em;
    border-bottom: 1px solid #000814 ;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
nav ul{
    display: flex;
    list-style-type: none;
    padding-right: 3em;
}
nav ul li{
    margin: 7.5px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000814;
    font-size: 15px;
    transition: all ease .4s;
}
nav ul li a:hover{
    border-bottom: 1.5px solid #000814;
    transition: 1s;
}
.logo{
    margin-left: 15px;
}
.logo a{
    color: #000814;
    text-decoration: none;
}
.container{
    background-color: #000814;
    text-align: center;
}
.container .logo{
    padding-top: 1em;
    color: #E2E8F0;
}
.container ul{
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;
}
.container ul li{
    margin: 7.5px 30px;
    padding-bottom: 2em;
}
.container ul li a{
    text-decoration: none;
    color: #E2E8F0;
    font-size: 12px;
    transition: all ease .4s;
}
.container ul li a:hover{
    color: gray;
}

